* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url(asset/bg.png);
  width: 100%;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 0;
}

.main_content {
  width: 300px;
  height: 500px;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.15),
    rgba(255, 255, 255, 0.15)
  );
  border-radius: 15px;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Search */
.search-box {
  position: relative;
}

.city-input {
  width: 100%;
  padding: 10px 16px;
  border-radius: 99px;
  border: 2px solid transparent;
  background: rgba(0, 0, 0, 0.15);
  outline: none;
  color: white;
  font-size: 14px;
  padding-right: 45px;
}

.city-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.city-input:focus {
  border-color: rgba(255, 255, 255, 0.4);
}

.search-btn {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

/* Weather Info */
.weather-info {
  text-align: center;
}

.city {
  font-size: 20px;
  font-weight: 600;
}

.temp {
  font-size: 48px;
  margin: 10px 0;
}

.desc {
  font-size: 14px;
  opacity: 0.8;
}

/* Extra Info */
.extra-info {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.extra-info div {
  text-align: center;
}

.extra-info span {
  font-size: 12px;
  opacity: 0.7;
}
.icon{
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  
}